<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<!-- The variables in this file are defined as the keys
	in the contrller function in the second argument 
	to the render -->
	<h1>Todo</h1>
	<h3><%= todo.todo %></h3>
	<h3>Complete: <%= todo.done ? 'Yes' : 'No' %></h3>
</body>
</html>